@font-face {
  font-family: 'Essays1743';
  src: url('/fonts/Essays1743.ttf') format('ttf'),
      url('/fonts/Essays1743.woff2') format('woff2'),
      url('/fonts/Essays1743.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Linux Libertine';
  src: url('/fonts/LinLibertine.ttf') format('ttf'),
      url('/fonts/LinLibertine.woff2') format('woff2'),
      url('/fonts/LinLibertine.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #333;
  --background-primary: #fff;
  --color-border: rgba(0, 0, 0, 0.3);
  --core-size: 15px;
}

html {
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-family: 'Linux Libertine', sans-serif;
  background-color: var(--background-primary);
  color: var(--color-primary);
}

body {
  font-size: 1.6rem;
}

h1 {
  font-family: 'Linux Libertine', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #fff;
    --background-primary: #222;
  }
  html {
    color-scheme: dark;
  }
}
