.title {
  text-align: center;
  font-size: 4.2rem;
  letter-spacing: 2px;
  padding-bottom: calc(var(--core-size) + 10px);
  margin: 25px 0;
  position: relative;
}

.title::after {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: var(--color-primary);
  border-radius: calc(var(--core-size) + 10px);
}

.root {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: var(--core-size);
  padding-right: var(--core-size);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list > li {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--color-border);
  padding-left: var(--core-size);
  padding-right: var(--core-size);
  margin-bottom: var(--core-size);
  padding-top: calc(var(--core-size) + 10px);
  padding-bottom: calc(var(--core-size) + 10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  color: var(--color-primary);
  text-decoration: none;
  display: inline-block;
  font-size: 2.4rem;
  line-height: 30px;
  padding: 5px;
}

.details {
  white-space: nowrap;
  display: block;
}

.languages {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
}

.languages > li {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  line-height: 30px;
  white-space: nowrap;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--background-primary);
}

.fileDownload {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

.fileDownload svg {
  width: 30px;
  height: 30px;
}

.footer {
  padding-top: var(--core-size);
  padding-bottom: var(--core-size);
}

@media screen and (min-width: 1024px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .list::after {
    content: "";
    flex: auto;
  }
  .list > li {
    width: calc(50% - 8px);
  }
  .list > li:nth-child(odd) {
    margin-right: calc(var(--core-size) + 1px);
  }
}

@media screen and (max-width: 479px) {
  .list > li {
    padding-top: var(--core-size);
    padding-bottom: var(--core-size);
    display: block;
  }
}